<p id="notice"><%= notice %></p>


<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Comunas</h1>
<p class="mb-4"><%= link_to 'Agregar Comuna', new_commune_path %></p>





<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Datos de las Comunas</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Pusvalía</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody>
          <% @communes.each do |commune| %>

            <tr>
              <td><%= commune.name %></td>
              <td><%= commune.gain_value %></td>
              <td>
                <%= link_to 'Editar', edit_commune_path(commune) %>
                <%= link_to 'Borrar', commune, method: :delete, data: { confirm: '¿Seguro?' } %></td>
            </tr>

          <% end %>
          
        </tbody>
      </table>
    </div>
  </div>
</div>
