
<p id="notice"><%= notice %></p>


<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Formularios de contacto</h1>
<%= link_to 'Agregar Contacto', new_contact_form_path %>



 <div class="row">

<div class="col-12">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Filtros</h6>
      </div>
      <div class="card-body">
        <%= form_tag(contact_forms_path, method: :get) do %>
          <div class="row">
            <div class="col-12 col-xs-4 col-sm-6 col-md-4 col-lg-2">
              <div class="form-group">
                <label for="exampleInputEmail1">Rut</label>
                <%= text_field_tag 'rut', params[:rut], class: "form-control" %>
              </div>
            </div>
            <div class="col-12 col-xs-4 col-sm-6 col-md-4 col-lg-2">
              <div class="form-group">
                <label for="exampleInputEmail1">Nombre</label>
                <%= text_field_tag 'first_name', params[:first_name], class: "form-control" %>
              </div>
            </div>
            <div class="col-12 col-xs-4 col-sm-6 col-md-4 col-lg-2">
              <div class="form-group">
                <label for="exampleInputEmail1">Apellido</label>
                <%= text_field_tag 'last_name', params[:last_name], class: "form-control" %>
              </div>
            </div>
            <div class="col-12 col-xs-4 col-sm-6 col-md-4 col-lg-2">
              <div class="form-group">
                <label for="exampleInputEmail1">Email</label>
                <%= text_field_tag 'email', params[:email], class: "form-control" %>
              </div>
            </div>
            <div class="col-12 col-xs-6 col-sm-12 col-md-8 col-lg-4">

              <div class="form-group">
                <label for="exampleInputEmail1">Ingreso Mensual</label>
                <div class="row">
                  <div class="col-4">
                    <%= select_tag "income_type", raw("<option value='gt' #{"selected" if params[:income_type] == "gt" }>Mayor igual que</option><option #{"selected" if params[:income_type] == "lt" } value='lt'>Menor igual que</option><option value='et' #{"selected" if params[:income_type] == "et" }>Igual que</option>"), class: "form-control" %>
                  </div>
                  <div class="col-8">
                    <%= text_field_tag 'income', params[:income], class: "form-control" %>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <%= submit_tag "Buscar", class: "btn btn-info" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
</div>
</div> 


<div class="row">

<div class="col-12">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Datos de formularios de contacto</h6>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>Rut</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th>Ingreso</th>
                <th>Fecha</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @contact_forms.each do |contact_form| %>

                <tr>
                  <td><%= contact_form.rut %></td>
                  <td><%= contact_form.first_name %></td>
                  <td><%= contact_form.last_name %></td>
                  <td><%= contact_form.email %></td>
                  <td><%= contact_form.average_income.present? ? contact_form.average_income : "N/A" %></td>
                  <td><%= contact_form.created_at.strftime("%d/%m/%Y %H:%M") %></td>
                        <td><%= link_to 'Ver', contact_form %>
                  <%= link_to 'Editar', edit_contact_form_path(contact_form) %>
                  <%= link_to 'Borrar', contact_form, method: :delete, data: { confirm: '¿Seguro que queires borrar este contacto?' } %></td>
                </tr>

              <% end %>
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
</div>
</div>