<p id="notice"><%= notice %></p>



<div class="row">
	<div class="col-12 col-md-3">

		<table class="table">
			<tr>
				<th>Rut</th>
				<td><%= @contact_form.rut %></td>
			</tr>
			<tr>
				<th>Nombre</th>
				<td><%= @contact_form.first_name %></td>
			</tr>
			<tr>
				<th>Apellido</th>
				<td><%= @contact_form.last_name %></td>
			</tr>
			<tr>
				<th>Teléfono</th>
				<td><%= @contact_form.phone %></td>
			</tr>
			<tr>
				<th colspan="2"><%= @contact_form.email %></th>
			</tr>

			
		</table>


		<%= link_to 'Edit', edit_contact_form_path(@contact_form) %> |
		<%= link_to 'Back', contact_forms_path %>
	</div>
	<div class="col-12 col-md-9">
		
		<div class="row">
			<div class="col-4 col-xs-6">
			    <div class="card border-left-info shadow h-100 py-2">
			      <div class="card-body">
			        <div class="row no-gutters align-items-center">
			          <div class="col mr-2">
			            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Ingresos Principales</div>
			            <div class="h5 mb-0 font-weight-bold text-gray-800">$215,000</div>
			          </div>
			          <div class="col-auto">
			            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
			          </div>
			        </div>
			      </div>
			  </div>
			</div>
			<div class="col-4 col-xs-6">
			    <div class="card border-left-info shadow h-100 py-2">
			      <div class="card-body">
			        <div class="row no-gutters align-items-center">
			          <div class="col mr-2">
			            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Ingresos Extra</div>
			            <div class="h5 mb-0 font-weight-bold text-gray-800">$215,000</div>
			          </div>
			          <div class="col-auto">
			            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
			          </div>
			        </div>
			      </div>
			  </div>
			</div>
			<div class="col-4 col-xs-6">
			    <div class="card border-left-info shadow h-100 py-2">
			      <div class="card-body">
			        <div class="row no-gutters align-items-center">
			          <div class="col mr-2">
			            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Ingresos Total</div>
			            <div class="h5 mb-0 font-weight-bold text-gray-800">$215,000</div>
			          </div>
			          <div class="col-auto">
			            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
			          </div>
			        </div>
			      </div>
			  </div>
			</div>
		</div>
		<div class="row">
<div class="col-12">

	<!-- DataTales Example -->
	<div class="card shadow mb-4 mt-4">
	  <div class="card-header py-3">
	    <h6 class="m-1  font-weight-bold text-primary">Detalle de Ingresos</h6>
	  </div>
	  <div class="card-body">
	    <div class="table-responsive">
	      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
	        <thead>
	          <tr>
	            <th>Fecha</th>
	            <th>Ingreso Principal</th>
	            <th>Ingreso Extra</th>
	            <th>Ingreso Total</th>
	          </tr>
	        </thead>

	        <tbody>
	          <tr>
	            <td>Tiger Nixon</td>
	            <td>System Architect</td>
	            <td>Edinburgh</td>
	            <td>61</td>
	          </tr>
	          <tr>
	            <td>Garrett Winters</td>
	            <td>Accountant</td>
	            <td>Tokyo</td>
	            <td>63</td>
	          </tr>
	          <tr>
	            <td>Ashton Cox</td>
	            <td>Junior Technical Author</td>
	            <td>San Francisco</td>
	            <td>66</td>
	          </tr>
	          <tr>
	            <td>Cedric Kelly</td>
	            <td>Senior Javascript Developer</td>
	            <td>Edinburgh</td>
	            <td>22</td>
	          </tr>
	          
	        </tbody>
	      </table>
	    </div>
	  </div>
	</div>
</div>


		</div>	
	</div>
</div>
