<%= form_with(model: monthly_income) do |form| %>
  <% if monthly_income.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(monthly_income.errors.count, "error") %> prohibited this monthly_income from being saved:</h2>

      <ul>
        <% monthly_income.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :contact_form_id %>
    <%= form.text_field :contact_form_id %>
  </div>

  <div class="field">
    <%= form.label :year %>
    <%= form.text_field :year %>
  </div>

  <div class="field">
    <%= form.label :month %>
    <%= form.text_field :month %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="field">
    <%= form.label :total %>
    <%= form.text_field :total %>
  </div>

  <div class="field">
    <%= form.label :main %>
    <%= form.text_field :main %>
  </div>

  <div class="field">
    <%= form.label :extra %>
    <%= form.text_field :extra %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
